.App {
  margin-left: 40vw;
}

.data, .error, .loading {
  width: 20vw;
  margin-top: 20px;

  border: 2px solid #666;
}

.data {
  background: rgb(129, 216, 129);
}

.error {
  background: rgb(200, 115, 115);
}

.loading {
  background: rgb(120, 120, 185);
}
